<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'https://unpkg.com/@youcan/js@latest/dist/index.umd.js' | script_tag }}
  </head>
  <body>
    {% section 'main-navbar' %}
    {{ content_for_layout }}
    {% section 'main-footer' %}
  </body>
</html>